{% extends "base.html" %}
{% block title %}Nueva Contraseña{% endblock title %}

{% block content %}
<div class="container mt-4">
  <h2>Introduce tu Nueva Contraseña</h2>
  
  {% if validlink %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-success">Actualizar Contraseña</button>
    </form>
  {% else %}
    <p>El enlace no es válido o ha expirado. Por favor, solicita un nuevo restablecimiento de contraseña.</p>
  {% endif %}
</div>
{% endblock content %}
